<footer class="border-top mt-3 pt-3 container">
	<div class="row">

		<div class="col-md-3">
			<h5>Our Best Shots:</h5>
			HYDROcontest
			<ol>
				<li>LTC: <strong>4th</strong>, 2017</li>
				<li>LDC: <strong>9th</strong>, 2016</li>
				<li>MTC: <strong>13th</strong>, 2018</li>
			</ol>
		</div>

		<div class="col-md-6 container-fluid">
			<div class="row align-items-center">
				<a class="col-sm-6 py-3 py-lg-0 px-lg-3" href="https://www.beta-cae.com">
					<img class="img-fluid" src="{{ "assets/img/sponsors/beta-cae.jpg" | relative_url }}" alt="beta_simulation">
				</a>

				<a class="col-sm-6 py-3 py-lg-0 px-lg-3" href="https://stelios.org">
					<img class="img-fluid" src="{{ "assets/img/sponsors/stelios.jpg" | relative_url }}" alt="stelios_foundation">
				</a>
			</div>
		</div>

		<div class="col-md-3">
			<!-- http://microformats.org/wiki/h-card -->
			<address class="d-flex flex-column h-card">
				<!-- <a class="u-url" href="https://oceanos.ntua.gr/"></a> -->
				<!-- <img class="u-logo" src="photos/oceanos.png"> -->

				<div>
					<a href="https://www.facebook.com/oceanos.ntua/"><img src="/node_modules/bootstrap-icons/icons/facebook.svg"></a>
					<a href="https://www.instagram.com/oceanos_ntua/"><img src="/node_modules/bootstrap-icons/icons/instagram.svg"></a>
					<a href="https://www.youtube.com/channel/UCyVxOwCrgLrMhWwGyk2rNLg"><img src="/node_modules/bootstrap-icons/icons/youtube.svg"></a>
					<a class="u-email" href="mailto:oceanos.ntua@gmail.com"><img src="/node_modules/bootstrap-icons/icons/envelope-fill.svg"></a>
				</div>

				<!-- http://microformats.org/wiki/h-adr -->
				<span class="p-adr h-adr">
					<span class="p-street-address">Ηρώων Πολυτεχνείου 9</span>
					<span class="p-extended-address">Πολυτεχνειούπολη Ζωγράφου</span>
					<span class="p-locality">Ζωγράφου</span>
					<span class="p-postal-code">15780</span>
					<span class="p-country-name">Ελλάδα</span>
				</span>
			</address>

			<!-- <address class="h-card"> -->
			<!-- 	<span class="p-name">National Technical University of Athens</span> -->
			<!-- 	<img class="u-logo" src="photos/ntua-logo-dark.png"> -->
			<!-- </address> -->
		</div>

	</div>

	<div class="row">
		<span class="col text-center">© Oceanos 2020</span>
	</div>

</footer>
